*{margin:0; padding:0}
.float-left{float: left;}
.float-right{float: right;}
.hide{display: none;}
/*页面包裹层样式*/
.wrap{width:100%;font-family:"宋体";}

/*头部样式*/
.header {width:100%;height:150px;}
.header .header-content{width:90%;margin:0 auto;overflow:hidden; height: 150px;}
.header .header-content h1{line-height:100px;float:left;}


/* 菜单样式 */
.wrap .header .header-content .menu{background-color: lightgray; height: 50px; margin-top: 100px;}

.wrap .header .header-content .menu li{list-style: none;float: left;}
.wrap .header .header-content .menu li a{height: 50px; line-height: 50px;width: 100px;text-align: center;display: block; text-decoration: none;color:#FFF;}
.wrap .header .header-content .menu .current{background-color: red;}
.wrap .header .header-content .menu li a:hover {background-color: orange;}