*{margin:0;padding:0;}

.wrap{width:100%;}

.title-panel{width:100%;margin: 40px 0;}

.wrap .title-panel .container{width:90%; margin:0 auto; overflow: hidden;}

.wrap .title-panel .container span{line-height: 26px; font-size: 18px; padding-left: 10px; display: inline-block;}

.wrap .title-panel .container #title{height:26px;line-height: 26px;font-size: 18px;margin: 10px; width: 500px;}

.wrap .title-panel .container #save-btn{float: right; width: 80px; height: 40px; margin: 10px; border-radius: 5px; box-shadow: 1px 1px 3px #000;}

.wrap .title-panel .container #catalog{height:26px;line-height: 26px;font-size: 18px;margin: 10px; width: 100px;}